body{
    margin:0px;
    background-color: rgb(121, 37, 93);
}

.toolbox{
    height:100vh;
    position: absolute;
    background-color: rgb(63, 1, 58);
  
}

.toolbox .group .item{
    width: 24px;
    height:24px;
    padding: 10px;
    cursor: pointer;    
}

.toolbox .group .item img{
    width:100%;
    border-radius: 20%;
    
    
}
.toolbox .group .item img:hover{
    color: #b107f5;
    text-shadow: 0 0 25px #f507f5;
    transition: all 0.5s ease;
    border: 2px solid  #ee99e3;
    box-shadow: 0 0 25px  #b107f5;
}

.toolbox.left{
    left:0px;
    top:0px;
}

.toolbox.right{
    right:0px;
    top:0px;
}

#canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
}